<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ethan Tian's Interst Website</title>
  <link rel="stylesheet" href="interest.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
</html>

<body>
<div class = "img1">
    <div class = "title">
        <p>Let's Go Travelling!</p>
    </div>
</div>
    
<section class = "introduction">
    <p>Due to the poor health condition when I was a kid, I always needed to stay at home or at the hospital. In grade 5, I had the first opportunity to travel out of the province, from then on, my interest in travelling was gradually fostered. I've been to New Zealand, Singapore, Malaysia, and Canada in the next few years, and that was one of the main reasons that I chose to study abroad. </p>
</section>
    
<div class = "img2">
</div>
    
    <section class = "section-bright">
        <h2>Singapore</h2>
        <p>Whizzing around Singapore can take a matter of minutes, thanks to one of the world’s most efficient and widespread public transport systems. Hankering for a roti prata breakfast in Little India, but want to visit the temples in Chinatown before lunch? No problem, you’ll be there in a jiffy using the sparkling MRT system – and why not stop at Marina Bay for a spot of shopping on your way? Plus, with new metro lines opening practically every two years, this tiny island just keeps on becoming easier to explore.<br>
        The concrete jungles that once dominated Singapore’s skyline are slowly giving way to green skyscrapers, which look more like living ecosystems than business hubs. Fervently working towards its ‘City in a Garden’ dream, the nation is ploughing money into becoming more sustainable and well, green. Head out of town a little and you’ll find plenty of walking trails, treetop jungle bridges, wildlife galore and the city's green jewel, the Unesco World Heritage–listed Singapore Botanic Gardens: these are the lungs of Singapore.

        </p>
    </section>
    
<div class = "img3">
</div>
    
    <section class = "section-bright">
        <h2>Malaysia</h2>
        <p>The catchy tourism slogan ‘Malaysia, Truly Asia’ continues to ring true as this country really is a potpourri of Asian cultures. Muslim Malays, religiously diverse Chinese, and Hindu and Muslim Indians all muddle along with aboriginal groups (the Orang Asli) on Peninsular Malaysia and Borneo’s indigenous people, scores of tribes known collectively as Dayaks. Each ethnic group has its own language and cultural practices which you can best appreciate through a packed calendar of festivals and a delicious variety of cuisines. <br>
        For many visitors Malaysia is defined by its equatorial rainforest. Significant chunks of primary jungle – among the most ancient ecosystems on earth – remain intact, protected by national parks and conservation projects. Seemingly impenetrable foliage and muddy, snaking rivers conjure up the ‘heart of darkness’ – but join a ranger-led nature walk, for example, and you’ll be alerted to the mind-boggling biodiversity all around, from the pitcher plants, lianas and orchids of the humid lowlands, to the conifers and rhododendrons of high-altitude forests.

        </p>
    </section>
    
<div class = "img4">
</div>
    
    <section class = "section-bright">
        <h2>Newzealand</h2>
        <p>There are just 4.8 million New Zealanders, scattered across 268,021 sq km: bigger than the UK with one-fourteenth of the population. Filling in the gaps are the sublime forests, mountains, lakes, beaches and fiords that have made NZ one of the best hiking (locals call it 'tramping') destinations on the planet. Tackle one of the epic 'Great Walks' – you might've heard of the Heaphy and Milford Tracks – or spend a few hours wandering along a beach, paddling a canoe or mountain biking through some easily accessible wilderness. <br>
        British-influenced classics like fish and chips aren’t going anywhere, but NZ gastronomy has come a long way, baby. Chefs in Auckland, Wellington and Napier borrow influences from as far afield as South Pacific islands and Western Europe for creative takes on locally sourced lamb and seafood like abalone, oysters and scallops. Meanwhile, the vegetarian and vegan food scenes grow evermore prominent and inventive. Wash it all down with coffee culture, an edgy craft-beer scene and legendary cool-climate wines (like sublime sauvignon blanc and pinot noir).

        </p>
    </section>
    
<div class = "img5">
    <div class = "ending">
        <p class = "align">Thanks <br>for viewing!</p>
    </div>
</div>
    
    
<div class = "comment">
        <div class = "commentWrap">
            <p class="comment1">Please Write Your comment below:</p>
            <hr>
            <p>I love Lindas</p>
            <hr>
            <p>I love Lindas</p>
        </div>
    </div>
    

    
<footer>
    <div class = "links">
    <p><a href = "personal.html">Personal</a></p>
    <a href="#top"><p>Back to Top</p></a>
    </div>
    </footer>
</body>
